@model IEnumerable<DeliveryBookingSystemMVC.Models.Booking>

@{
    ViewData["Title"] = "RejectedList";
}

<h1>Rejected List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTimeOfPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightOfPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExecutiveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTimeOfPickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightOfPackage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <p>Your booking has been rejected.Please Try Again.</p>
</div>
<p>
    <a class="btn btn-primary"asp-action="Create" asp-controller="Bookings">Add new booking</a>
</p>
<p>
    <a class="btn btn-outline-info" asp-action="CustomerHomePage" asp-controller="Customers">Back To HomePage</a>
</p>
